.post {
  background-color: white;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}

.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__text {
  font-weight: normal;
  padding: 20px;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post__avatar {
  margin-right: 10px;
}

.post__likes {
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
}
.fas {
  color: rgb(255, 60, 93);
}

.post__comments {
  padding-left: 20px;
  padding-bottom: 10px;
}

.post__comments-comment {
  margin-bottom: 5px;
}

.post__form {
  display: flex;
  margin-top: 10px;
}

.post__input {
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.post__button {
  flex: 0;
  border: none;
  border-top: 1px solid lightgray;
  color: #6082ac;
  background-color: transparent;
}
