.post {
  background-color: white;
  border: 1px solid lightgray;
  margin-bottom: 45px;
  border-radius: 3px;
}

.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__text {
  font-weight: normal;
  padding: 20px;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post__avatar {
  margin-right: 10px;
}

.post__likes {
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
}
.fas {
  color: rgb(255, 60, 93);
}

.post__comments {
  padding-left: 20px;
  padding-bottom: 10px;
}

.post__comments-comment {
  margin-bottom: 5px;
}

.post__form {
  display: flex;
  margin-top: 10px;
}

.post__input {
  flex: 1;
  border: none;
  padding: 15px;
  border-top: 1px solid lightgray;
  font-size: 14px;
}

.post__input {
  outline: none;
}

.post__button {
  flex: 0;
  padding: 15px;
  border: none;
  border-top: 1px solid lightgray;
  color: #6082ac;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
}

.post__button-dark {
  flex: 0;
  padding: 15px;
  border: none;
  border-top: 1px solid lightgray;
  color: rgba(var(--d69, 0, 149, 246), 1);
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
}

.post__like-text {
  font-weight: 400;
  display: inline-block;
}

.post___like-click:hover {
  cursor: pointer;
}

.post__modal-body {
  padding-left: 25px;
  padding-bottom: 25px;
}

.post__modal-body-item {
  display: flex;
  margin-top: 15px;
}

.post__modal-body-name {
  padding: 10px;
}

.post__modal-header {
  border-bottom: 1px solid rgba(211, 211, 211, 0.66);
  width: 100%;
  text-align: center;
  padding: 15px;
}
