* {
  margin: 0;
  box-sizing: border-box;
}

.app__header {
  background-color: white;
  z-index: 1;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.app__headerImage {
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__input {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-bottom: 6px;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
  color: rgba(var(--i1d, 38, 38, 38), 1);
  padding: 5px;
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

.app__header-iconModal {
  width: 55px;
  height: 55px;
  margin-bottom: 25px;
  object-fit: contain;
}

.app__header-imageModal {
  margin-bottom: 5px;
  object-fit: contain;
  width: 188px;
  height: 60px;
}

.app__modal-button {
  color: white;
  background-color: #0095f6;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  padding: 10px;
  font-weight: 900;
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-top: 10px;
  border: none;
}

.app__posts {
  max-width: 40%;
  padding-top: 45px;
  margin-left: auto;
  margin-right: auto;
}

.dropdown {
  position: absolute;
  width: 150px;
  height: 120px;
  display: flex;
  flex-direction: column;

  background-color: rgba(var(--d87, 255, 255, 255), 1);
  top: 70px;
  right: 30px;
  z-index: 5;
  text-align: center;
  border-radius: 6px;
  border: 1px solid rgba(194, 194, 194, 0.44);
}

.dropdown__header {
  padding-top: 10px;
  font-weight: 600;
}

.dropdown__body {
  margin-top: 15px;
  cursor: pointer;
}

.dropdown__footer {
  border-top: 1px solid rgba(211, 211, 211, 0.66);
  margin-top: 15px;
}

.app__addPhoto-modal {
  width: 100%;
}
